body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #155843;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(dice_roll/background.png);
    background-size: cover;
    color: whitesmoke;
}
#dice {
    height: 100px;
}

.title {
    font-size: 1.75rem;
}

.button {
    font-size: 1.25rem;
    display: block;
    margin: .5rem;
}